.location.block {
  overflow: hidden;
  width: 100%;

  > div:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    width: 100%;
  }

  p {
    strong {
      font-weight: 400 !important;
      font-size: 18px;
    }

    width: 100%;
  }

  > div > div:first-child > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: min-content;
    max-width: 1024px;
    margin: 0 auto;
    color: var(--dark-color);

    h2 {
      font-family: sigmar, sans-serif;
      font-size: 48px;
      margin-bottom: 24px;

      @media (width > 1024px) {
        font-size: 64px;
        white-space: nowrap;
      }
    }
  }

  .location-map {
    position: relative;
    width: 100%;
    max-width: 1023px;
    line-height: 0;

    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  .location-marker-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    transform: translate(-50%, -100%);
    width: 0;
    height: 0;
    pointer-events: auto;
    z-index: 1;

    .location-link {
      display: block;
      text-decoration: none;
      color: var(--dark-color);
    }

    .location-marker {
      position: relative;
      width: 40px;
      height: 40px;
      flex-shrink: 0;
      border-radius: 50%;
      border: solid 2px white;
      background-color: rgb(0 92 60);
      pointer-events: auto;
      text-decoration: none;

      &::after {
        content: '';
        position: absolute;
        width: 6px;
        height: 6px;
        background-color: rgb(0 92 60);
        border-right: solid 2px white;
        border-bottom: solid 2px white;
        bottom: -5px;
        left: 50%;
        transform: translateX(-50%) rotate(45deg);
      }

      @media (width < 768px) {
        display: none;
      }
    }

    .location-marker-small {
      display: none;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      border: solid 2px white;
      background-color: rgb(0 92 60);
      flex-shrink: 0;

      @media (width < 768px) {
        display: block;
        transform: translateY(50%);
      }
    }

    .marker-popup {
      position: absolute;
      bottom: 50px;
      left: 50%;
      transform: translateX(-50%) translateY(10px);
      background: white;
      border-radius: 24px;
      width: 288px;
      opacity: 0;
      visibility: hidden;
      transition:
        opacity 0.3s ease,
        transform 0.3s ease;
      pointer-events: none;
      z-index: 10;
      overflow: hidden;

      &.is-edge-left {
        transform: translateX(-45%) translateY(10px);
      }

      &.is-edge-right {
        transform: translateX(-55%) translateY(10px);
      }

      p {
        font-size: 18px;
        line-height: 1;
        font-weight: 500;
        padding: 24px;
        color: var(--dark-color);
        width: 100%;
        box-sizing: border-box;
        white-space: normal;
        overflow-wrap: break-word;
        word-break: normal;
      }

      img {
        width: 100%;
        height: 100%;
        max-height: 162px;
        display: block;
      }
    }

    @media (width >= 768px) {
      &:hover {
        z-index: 9;
      }

      &:hover .marker-popup {
        opacity: 1;
        visibility: visible;
        transform: translateX(-50%) translateY(0);
        pointer-events: auto;
        z-index: 10;
      }

      &:hover .marker-popup.is-edge-left {
        transform: translateX(-45%) translateY(0);
      }

      &:hover .marker-popup.is-edge-right {
        transform: translateX(-55%) translateY(0);
      }
    }

    @media (width < 768px) {
      .marker-popup {
        display: none;
        pointer-events: none;
      }

      .location-link {
        pointer-events: none;
      }
    }
  }

  .location-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    color: var(--dark-color);
    margin: 0;
    padding: 0;
    width: 100%;

    li {
      padding: 12px 0;
      border: solid 1px rgb(210 215 220);
      border-width: 1px 0 0;

      a {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        color: inherit;
      }

      & span:first-child {
        font-size: 18px;
        line-height: 22px;
        font-weight: 700;
      }

      & span:last-child {
        font-size: 10px;
        line-height: 14px;
        font-weight: 700;
      }
    }

    @media (width > 1024px) {
      display: none;
    }
  }
}
