.location.block {
  > div:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
  }

  > div > div:first-child > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: min-content;
    min-width: 50%;
    margin: 0 auto;
    color: var(--dark-color);

    h2 {
      font-family: gupter, sans-serif;
      font-size: 64px;
      margin-bottom: 24px;
      white-space: nowrap;
    }

    p {
      strong {
        font-weight: 400 !important;
        font-size: 18px;
      }

      width: 100%;
    }
  }

  .location-map {
    position: relative;
    max-width: 1023px;
  }

  .location-marker-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    transform: translate(-50%, -100%);
    width: 0;
    height: 0;
    pointer-events: none;
  }

  .location-marker {
    position: relative;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 50%;
    border: solid 2px white;
    background-color: rgb(0 92 60);
    pointer-events: auto;

    &::after {
      content: '';
      position: absolute;
      width: 6px;
      height: 6px;
      background-color: rgb(0 92 60);
      border-right: solid 2px white;
      border-bottom: solid 2px white;
      bottom: -5px; /* Adjust so it sits perfectly */
      left: 50%;
      transform: translateX(-50%) rotate(45deg);
    }

    @media (width < 768px) {
      display: none;
    }
  }

  .location-marker-small {
    display: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: solid 2px white;
    background-color: rgb(0 92 60);
    flex-shrink: 0;

    @media (width < 768px) {
      display: block;
      transform: translateY(50%);
    }
  }
}
