.location.block {
  > div:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
  }

  > div > div:first-child > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: min-content;
    min-width: 50%;
    margin: 0 auto;
    color: var(--dark-color);

    h2 {
      font-family: gupter, sans-serif;
      font-size: 64px;
      margin-bottom: 24px;
      white-space: nowrap;
    }

    p {
      strong {
        font-weight: 400 !important;
        font-size: 18px;
      }

      width: 100%;
    }
  }

  .location-map {
    position: relative;
    max-width: 1023px;
  }

  .location-marker {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: solid 2px white;
    background-color: rgb(0 92 60);
    transform: translate(5%, 20%);

    &::after {
      content: '';
      position: absolute;
      width: 6px;
      height: 6px;
      background-color: rgb(0 92 60);
      border-right: solid 2px white;
      border-bottom: solid 2px white;
      bottom: -5px;
      left: 50%;
      transform: translateX(-50%) rotate(45deg);
      z-index: -1;
    }
  }
}
