.links-wrapper {
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}

.links.block {
  overflow: hidden;
  display: flex;
  padding-top: 20px;
  width: 100%;
  justify-content: space-evenly;

  @media (width < 1024px) {
    flex-direction: column;
    padding-top: 0;
    justify-content: flex-start;
  }

  > div > div {
    padding: 20px 0 16px;

    @media (width < 1024px) {
      padding: 0;
    }
  }

  li {
    margin-bottom: 10px;

    @media (width < 1024px) {
      display: none;
    }
  }

  a {
    text-decoration: none;
    color: white;
    font-size: 14px;
  }

  .section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    color: #7fc1c4;
    padding: 20px 0 16px;
    border: solid 0.5px rgb(113 198 204 / 50%);
    border-width: 0.5px 0;

    @media (width >= 1024px) {
      border: none;
      cursor: default;
    }
  }

  .section-toggle {
    display: none;
    width: 20px;
    height: 20px;
    background: transparent;
    border: none;
    position: relative;
    cursor: pointer;

    @media (width < 1024px) {
      display: block;

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 24px;
        height: 1px;
        background-color: white;
        transform: translate(-50%, -50%);
      }

      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 1px;
        height: 24px;
        background-color: white;
        transform: translate(-50%, -50%);
      }
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    @media (width < 1024px) {
      margin: 0;
      overflow: hidden;
    }
  }

  .is-open {
    .section-toggle::after {
      transform: translate(-50%, -50%) rotate(90deg);
      opacity: 0;
    }

    .section-toggle::before {
      transform: translate(-50%, -50%) rotate(180deg);
    }

    li {
      display: block !important;
    }
  }
}
